doctype html
html
    head
        link(rel='stylesheet' href='/main.css')
        meta(charset="utf-8")
        title="IW Academy Roulette"
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body
        header
            div(class='header__left') 
                img(src='iw_logo.png')
                img(class='app-logo' src='app_logo.png')
                //- span(class='app-logo')="Academy Roulette"
        audio(id = "drum_roll")
            source(src="drum_roll.mp3" type="audio/mpeg")
            Your browser does not support the audio element.
        
        div(class='content')
            div(class='content-body center-text')
                ul(id='people-list' class='people-list')        
                    each person in people
                        if person.selected
                            li(class='name' data-selected)= person.name
                        else
                            li(class='name')= person.name
                button(id="go-button" class="go-button") GO
        script(src='/main.js')
