@font-face {
    font-family: 'Cera Pro';
    src: url('/fonts/cera_regular.otf');
    font-weight: 400;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('/fonts/cera_bold.otf');
    font-weight: 700;
}

:root {
    --header-height: 120px;
    --app-logo-margin: 7px;
    --padding-header: 25px;
    --iw-orange: #ED6B39;
    --background-color-light: #EBEBEB;
    --accent-color: var(--iw-orange);
}

html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-height: 100vh;
    max-width: 100vw;
}

body {
    background: #1A1A1A;
    font-family: 'Cera Pro';
}

body.light {
    background: var(--background-color-light);
}

img {
    max-width: 100%;
    max-height: 100%;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

header {
    width: 100%;
    height: var(--header-height);
    background: #131313;
}

header img {
    height: 100%;
}

header>div {
    padding: var(--padding-header);
    height: calc(100% - var(--padding-header) * 2);
    display: inline-flex;
}

.header__left {
    margin-left: 10px;
}

.header__left * {
    margin-right: 15px;
}

.app-logo {
    margin-top: var(--app-logo-margin);
    margin-bottom: var(--app-logo-margin);
    height: calc(100% - var(--app-logo-margin) * 2);
}

.header__right {
    align-items: center;
    float: right;
    color: white;
}

.theme-button {
    font-size: 2rem;
    cursor: pointer;
}

.theme-button .active {
    color: var(--accent-color);
    font-weight: 700;
}

.content {
    margin: auto;
    width: 80%;
    height: calc(100% - var(--header-height));
    overflow-y: auto;
    scroll-behavior: smooth;
}

.people-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.name {
    font-size: 2em;
    color: white;
    list-style: none;
    background-color: #484B52;
    margin: 2% 1%;
    padding: 20px;
    width: 130px;
    height: 130px;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    box-shadow: 0px 7px 20px 1px #000;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    transition: transform 150ms linear, font-size 150ms linear;
}

.name.selected {
    background-color: var(--accent-color);
    color: black;
    font-weight: 700;
    font-size: 3rem;
    transform: scale(1.3);
}

.go-button {
    min-height: 4rem;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 7px 40px rgba(0, 0, 0, 0.9);
    border-radius: 2px;
    background: #1A1A1A;
    color: white;
    font-size: 3em;
    font-weight: 700;
    padding: 1% 5%;
    margin: 20px;
    cursor: pointer;

    transition: transform 400ms cubic-bezier(0.19, 1, 0.22, 1), opacity 500ms cubic-bezier(0.215, 0.610, 0.355, 1);
}

.go-button:disabled {
    opacity: 0.1;
    cursor: unset;
}

.go-button.light {
    color: #1A1A1A;
    border-color: #1A1A1A;
    background-color: var(--background-color-light);

}

.go-button:active {
    border-color: var(--iw-orange);
    color: var(--iw-orange);
}

.go-button:hover.go-button:not([disabled]) {
    transform: scale(1.1);
}

.center-text {
    text-align: center;
}


.error_message {
  color: white;
}

.hide {
  display: none;
}

#animation-speed-input{
    margin: auto;
    display: block;
    border-width: 0px;
    border-radius: 5px;
    background-color: #484b51;
    color: white;
    text-align: center;
    width:10ch;
}
#animation-speed-input:focus {
    outline: none !important;
    border:1px solid var(--accent-color);
}

.text-dark{
    color: var(--accent-color)
}

::-webkit-scrollbar {
    display: none;
}
